/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Nunito&display=swap');

/* Root and variables */

:root{
    --mainfont: 'Montserrat', sans-serif;
    --headerfont: 'Nunito', sans-serif;
    --dark1: #393646;
    --dark2: #4F4557;
    --dark3: #6D5D6E;
    --light: #F4EEE0;
}

/* Main styling, might be "slightly" unordered */

/* some basic all-wide params */
*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--dark2);
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
    font-family: var(--mainfont);
    color: rgb(255, 255, 255)
}

/* Navbar styling and whatnot */
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--dark1);
    padding: 20px 0px;
    font-family: var(--headerfont);
    list-style: none;
    z-index: 999;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    padding: 0px 25px;
    color: var(--light)
}

/* END OF NAVBAR => START OF INTRODUCTION*/


#main-content{
    height: 100vh;
    width: 100%;
}

.introduction{
    padding: 40px 20px;
    width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    /* padding-left:5%; */
}

.introduction td{
    text-align: center;
    padding: 0;
}

.pfp{
    /* padding-left: 20px; */
    width: 350px;
    height: auto;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

/* New section dedicated specifically for the skillset and achievements */


#info{
    display: flex;
    /* width: 100%; */
    text-align: center;
    justify-content: center;
}

#info th{
    padding: 20px 0!important;
}

#skillset{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    padding: 20px;
    width: 20%!important;
}
#center{
    width: 100%;
    justify-content: center;
    align-items:center;
    text-align: center;
}

h1{
    text-align: center;
}


/* Contact-me :) */
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-links{
    display: inline-flex;
    list-style: none;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}
#contact-links li{
    display: inline;
    padding: 20px;
    border: 2px;
    border-color: var(--dark1);
    border-style: solid;
    border-radius: 100%;
    text-align: center;
    margin: 2.5px;
}
#contact-links li i{
    width:20px;
}

/* Animations, resources and whatnot */

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}